<div class="center">
	<h1>SONGJAM</h1>
	<h2>Find other musicians in your area who loves the same songs you do and learn 
to play them together!</h2>

<!-- html for maps API -->
	<div id="map"></div>

	<div id="button">
		<%= button_to "Browse", "/jams", method: :get %><br>
		<% if !user_signed_in? %>
			<%= button_to "Sign up", new_user_registration_path, method: :get %><br>
		<% end %>
		<% if user_signed_in? %>
			<%= link_to "Log out", destroy_user_session_path, method: :delete %><br>
		<% end %>
	</div>
</div>
