<div class="center">
			<div class="app-title">SONGJAM</div><br>
	<div class="background-box">
			<h4>Find other musicians in your area who love the same songs you do and learn 
		to play them together!</h4>
	</div>
<br>

<!-- My code -->
<div class="searchBox">
	<input id="pac-input" class="controls" type="text" placeholder="Enter City">
</div>
<br>

<style type="text/css">
div#map { margin: 0 auto 0 auto; }
</style>

<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApukely-nToq2fH9wsW5GBQ4KZNnPwPzw&libraries=places&callback=initAutocomplete"
         async defer></script>


<br>
	<div id="button">
		<%= button_to("Browse Upcoming Jams", "/jams", method: :get, class: "btn btn-primary") %>
		<p>
		</p>
		<% if !user_signed_in? %>
			<%= button_to("Sign up", new_user_registration_path, method: :get, class: "btn btn-primary") %>
		<% end %>
		<% if user_signed_in? %>
			<%= button_to("Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary") %>


		<% end %>
	</div>
</div>



<script type="text/javascript">


	var locations = <%= @locations.to_json.html_safe %>;

    // var locations = [
    //   ['Bondi Beach', -33.890542, 151.274856, 4],
    //   ['Coogee Beach', -33.923036, 151.259052, 5],
    //   ['Cronulla Beach', -34.028249, 151.157507, 3],
    //   ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
    //   ['Maroubra Beach', -33.950198, 151.259302, 1]
    // ];


</script>