<h2>Pulling in data from spotify: Song List</h2>

<%= form_tag songs_path, method: "get", html: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:song_name, "", placeholder: "Enter song name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
