<div id="songs">
	<div class="center-forms">
		<h2> Organize your own Jam! </h2>
			<%= form_tag "/jams", method: :post do %>
				<div class="check">
					Jam name: <input type="text" name="name">
				</div>
				<div class="check">
					Song for the jam: <input list="songslist" type="text" placeholder="Enter song" class="form-control" v-model="userQuery" v-on:keyup="searchSong()">
				</div>
				<datalist id="songslist">
				    <option v-for="song in songs" v-bind:value="song.name + ' - ' + song.artists[0].name">
				  </datalist>
				<div class="check">
					Date of jam: <input type="date" name="date">
				</div>
				<div class="check">
					Location of jam: <input type="text" name="location">
				</div>
				<br>
				<div class="check">
					<input type="submit" class="btn btn-primary" value="Create Jam">
				</div>
			<% end %>
	</div>
</div>


