<h2> Organize your own Jam! </h2>

<div class="form">
	<%= form_tag "/jams", method: :post do %>
		<div class="check">
			Jam name: <input type="text" name="name">
		</div>
		<div class="check">
			Song for the jam: <input type="text" name="song">
		</div>
		<div class="check">
			Date of jam: <input type="datetime" name="date">
		</div>
		<div class="check">
			Location of jam: <input type="text" name="location">
		</div>
		<div class="check">
			<input type="submit" value="Create Jam">
		</div>
	<% end %>
