/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	text-align: center;
	color: white;
}

.center-forms {
	color: white;
	text-align: center;
	width: 300px;
	margin-left: 40%;
}

.tile {
	border-style: ridge;
	width: 40%;
	height: 30%;
	padding: 1%;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tile:hover {
	background-color: #e0ebeb;  

}

body {
  color: white;
}

.date {
	background-color: yellow;
	padding: 1%;
	text-align: center;
}


#button {
	display: inline-block;
	color: white;
}

