// Place all the styles related to the Jams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(http://fonts.googleapis.com/css?family=Roboto);

body,h1,h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.filter-drop {
	text-align: left;
}

#header {
	font-size: 50px;
	color: white;
	text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}

.add {
	text-align: right;
}
.add:hover {
	color: blue;
}

.well{
	min-height:250px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.23);
	border-style: ridge;
	margin: 9px;
	background-color: #c2c2c2;
	width: 360px;
	margin-left: 25px;
	opacity: 0.8;
}

.jam-back {
	color: black;
	min-height:250px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.23);
	background-color: white;
	width: 360px;
	padding: 25px;
	display: block;
    margin: auto;
    opacity: 0.8;
}

.form-back {
	color: black;
	min-height:250px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.23);
	background-color: white;
	width: 360px;
	padding: 25px;
	display: block;
	margin-left: -35px;
	opacity: 0.8;
}

.page {
	margin: 50px;
}

.overlay:hover {
opacity: 1;
cursor: pointer;
}

.item {
	width: 90%;
	height: 100%;
	margin-left: 20px;
}


.overlay {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
transition: all 0.35s ease;
-webkit-transition: all 0.35s ease;
-moz-transition: all 0.35s ease;
-o-transition: all 0.35s ease;
-ms-transition: all 0.35s ease;
border-radius: inherit;
left: 0;
top: 0;
bottom: 0;
right: 0;
}

.overlay {
background-color: rgba(33,154,200,0.75);
}